body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    width: 80%;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 3rem;
}

@media (max-width: 600px) {
    #container {
        width: unset; /* plus besoin de ça en mobile, donc on "unset" */
        max-width: none; /* same */
        padding: 1rem; 
    }
    .sous-container{
        padding: 1rem;
    }
}

/* BUTTONS */

#buttons{
    display: flex;
    justify-content: center;
    gap: .5rem; 
}

.btn {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 0.25rem; /* Pour centrer les icônes qui sont un peu décentrer à l'origine */
}

.btn img {
    width: 100%;
    height: auto;
}

#btn-shuffle{
    background-color: rgba(175,208,247, 0.5);
}
#btn-add{
    background-color: rgba(212,236,226, 0.8);
}

/* Sous-container */

.sous-container{
    padding: 3rem;
    width: calc(100% - 6rem);
    min-height: 9.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    align-items: flex-start; 
    border-radius: 15px;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

/* QUOTE */

#quote {
    font-family: 'Gelasio', serif;
    font-size: 1.2rem;
    color: rgb(71 85 105);
    line-height: 2rem;
    width: 100%;
    text-align: center;
}

#quoteIcon{
    width: 2.5rem; /* = 40px */
    opacity: 0.15;
}

#author{
    font-size: 1rem;
    font-weight: 700;
    font-family: Gelasio, serif;
    color: rgb(71 85 105);
    width: 100%;
    text-align: right;
}

/* FORM */

.form{
    width: 100%;
}

.form-example {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-family: Tahoma, serif;
}

.submit-btn{
    padding: 1em 2em;
    border-radius: 25px;
    border: none;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.cancel{
    background-color: #ffecca;
}
.submit{
    background-color: rgba(212,236,226, 0.8);
}

.submit-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    border: none;
    background-color:  rgb(0 0 0 / 5%);
    margin-top: 10px;
    border-radius: 5px;
}

input[type=submit]{
    font-family: Tahoma, serif;
}